:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --bg-black-color: #2F303A;
    --bg-white-color: #F5F5F5;
    --bg-white2-color:#F5F4FA;

}

body {
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6,
ul, p {
    margin: 0;
}

.container, 
.container-portpholio {
    width: 1600px;
}

.list {
    list-style: none;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* header */

.page-header{
    display: flex;
    height: 80px;
    
    background-color: var(--white-color);
}

.site-nav {
    display: flex;
}

.logo {
    margin-left: 215px;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
}

.logo-header {
    margin-top: 24px;
    margin-right: 93px;
}

.first-part-logo {
    color: var(--accent-color);
}

.second-part-logo {
    color: var(--white-color);
}

.list-nav {
    display: flex;
}

.list-nav .item:not(:last-child) {
    margin-right: 50px;
}

.link-studio, .link-portpholio, .link-contacts {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.link-studio:hover,
.link-portpholio:hover,
.link-contacts:hover,
.link-studio:focus,
.link-portpholio:focus,
.link-contacts:focus,
.mail:hover,
.mail:focus,
.tel:hover,
.tel.focus {
    color: var(--accent-color);
}

.contacts-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: 215px;
}

.mail, .tel {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
}

.tel {
    margin-left: 50px;
}

/* main */
/* main section */
.section-main {
    height: 600px;
    background-color: var(--bg-black-color);
}

.main-title {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    width: 696px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}

.btn-order {
    width: 216px;
    height: 50px;
    margin-left: 692px;
    margin-right: 692px;
    margin-top: 30px;
    border: transparent;
    border-radius: 4px;
    background-color: var(--accent-color);
    cursor: pointer;
    color: var(--white-color);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

/* benefits section */

.section-benefits {
    background-color: var(--bg-white-color);
}

.benefits-list {
    display: flex;
    padding-top: 94px;
    justify-content: center;
}

.benefits-list .item-benefits:not(:last-child) {
    margin-right: 30px;
}

.item-benefits {
    width: 270px;
}

.title-3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.p-title-3 {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

/* section-our-working */

.section-working {
    padding-top: 94px;
    background-color: var(--bg-white-color);
}

.list-working {
    display: flex;
    justify-content: center;
}

.item-working {
    margin-top: 50px;
}

.list-working .item-working:not(:last-child) {
    margin-right: 30px;
}

/* section-team */

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--bg-white2-color);
}

.list-team {
    display: flex;
    justify-content: center;
}

.item-team {
    margin-top: 50px;
    background-color: var(--white-color);
}

.list-team .item-team:not(:last-child) {
    margin-right: 30px;
}

.name {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.position {
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* footer */

.footer {
    height: 252px;
    background-color: var(--bg-black-color);
}

.footer-box {
    margin-left: 215px;
    padding-top: 60px;
}

.logo-footer {
    margin-left: 0;
}

.list-address {
    padding-left: 0;
    padding-top: 20px;
}

.item-address {
    margin-top: 9px;
}

.address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-color);
    font-style: normal;
    text-decoration: none;
}

.mail-footer,
.tel-footer {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

/* page portpholio */

.portpholio-header {
    border-bottom: 1px solid #ECECEC;;
}

.main-portpholio {
    background-color: var(--bg-white-color);
}

.list-buttons {
    display: flex;
    padding-left: 512px;
    padding-top: 100px;
}

.btn {
    height: 38px;
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    font-family: Roboto;
}

.list-buttons .btn-item + .btn-item {
    margin-left: 8px;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.images-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 215px;
    padding-bottom: 94px;
}

.image-item {
    width: 370px;
    height: 404px;
    border-bottom: 1px solid #EEEEEE;
    background-color: var(--white-color);
    margin-right: 30px;
    margin-bottom: 30px;
}

.image-item:nth-child(3n) {
    margin-right: 0;
}

.image-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.title-image {
    margin-top: 20px;
    margin-left: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.p-image {
    margin-top: 4px;
    margin-left: 24px;
    font-size: 16px;
    line-height: 1.86;
    color: var(--secondary-text-color); 
}